{% extends 'master.twig' %}

{% block content %}
    <center>
        <h1 style="font-size: 200px; color: lightcoral;">404</h1>
        <p style="color: lightcoral; font-size: xx-large;">Sorry, Page not found!</p>
        <a href="mailto:n.elshenawi@acg.edu" style="font-size: large; color: whitesmoke; ">Report this?</a>
    </center>
{% endblock content %}