
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://www.acg.edu/xmlrpc.php">

    {#<title>The American College of Greece</title>#}

    <!-- SEO Ultimate (http://www.seodesignsolutions.com/wordpress-seo/) -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Home">
    <meta property="og:url" content="http://www.acg.edu/">
    <meta property="article:published_time" content="2016-05-10">
    <meta property="article:modified_time" content="2016-07-27">
    <meta property="og:site_name" content="The American College of Greece">
    <meta property="fb:app_id" content="1737178703188785">
    <meta name="twitter:card" content="summary">
    <!-- /SEO Ultimate -->

    <link rel="alternate" type="application/rss+xml" title="The American College of Greece » Feed" href="http://www.acg.edu/feed/">
    <link rel="alternate" type="application/rss+xml" title="The American College of Greece » Comments Feed" href="http://www.acg.edu/comments/feed/">
    <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflfaFet0/www-widgetapi.js" async=""></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-5563K6"></script><script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.6&amp;appID=1737178703188785"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://www.youtube.com/iframe_api"></script><script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.acg.edu\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.2"}};
        !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script><script src="http://www.acg.edu/wp-includes/js/wp-emoji-release.min.js?ver=4.5.2" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" id="mgom-overlays-css-css" href="acg/css/overlays.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontawesome-css" href="css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="mg-custom-css-css" href="acg/css/mediagrid-custom.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-fonts-open-sans-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C700&amp;ver=4.5.2" type="text/css" media="all">
    <link rel="stylesheet" id="ytp-icons-css" href="acg/css/icons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="ytp-style-css" href="acg/css/youtube-video-player.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="perfect-scrollbar-style-css" href="acg/css/perfect-scrollbar.css" type="text/css" media="all">
    <link rel="stylesheet" id="ual-style-css-css" href="acg/css/userActLog-style.css" type="text/css" media="all">
    <link rel="stylesheet" id="acg/css/front.css" type="text/css" media="all">
    <link rel="stylesheet" id="front-css-css" href="acg/css/fbm_front.css" type="text/css" media="all">
    <link rel="stylesheet" id="la-icon-maneger-style-css" href="acg/css/iconSet-style.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="pc_google_analytics-frontend-css" href="acg/css/frontend.css" type="text/css" media="all">
    <link rel="stylesheet" id="ssbaFont-css" href="//fonts.googleapis.com/css?family=Indie+Flower&amp;ver=4.5.2" type="text/css" media="all">
    <link rel="stylesheet" id="udefault-css" href="acg/css/search-default.css" type="text/css" media="all">
    {#<link rel="stylesheet" id="storefront-style-css" href="http://www.acg.edu/wp-content/themes/acg/style.css?ver=4.5.2" type="text/css" media="all">#}
    <link rel="stylesheet" id="storefront-style-css" href="fc/test.css" type="text/css" media="all">
    <style id="storefront-style-inline-css" type="text/css">

        .main-navigation ul li a,
        .site-title a,
        ul.menu li a,
        .site-branding h1 a,
        .site-footer .storefront-handheld-footer-bar a:not(.button),
        button.menu-toggle,
        button.menu-toggle:hover {
            color: #d5d9db;
        }

        button.menu-toggle,
        button.menu-toggle:hover {
            border-color: #d5d9db;
        }

        .main-navigation ul li a:hover,
        .main-navigation ul li:hover > a,
        .site-title a:hover,
        a.cart-contents:hover,
        .site-header-cart .widget_shopping_cart a:hover,
        .site-header-cart:hover > li > a,
        ul.menu li.current-menu-item > a {
            color: #ffffff;
        }

        table th {
            background-color: #f8f8f8;
        }

        table tbody td {
            background-color: #fdfdfd;
        }

        table tbody tr:nth-child(2n) td {
            background-color: #fbfbfb;
        }

        .site-header,
        .secondary-navigation ul ul,
        .main-navigation ul.menu > li.menu-item-has-children:after,
        .secondary-navigation ul.menu ul,
        .storefront-handheld-footer-bar,
        .storefront-handheld-footer-bar ul li > a,
        .storefront-handheld-footer-bar ul li.search .site-search,
        button.menu-toggle,
        button.menu-toggle:hover {
            background-color: #2c2d33;
        }

        p.site-description,
        .site-header,
        .storefront-handheld-footer-bar {
            color: #9aa0a7;
        }

        .storefront-handheld-footer-bar ul li.cart .count,
        button.menu-toggle:after,
        button.menu-toggle:before,
        button.menu-toggle span:before {
            background-color: #d5d9db;
        }

        .storefront-handheld-footer-bar ul li.cart .count {
            color: #2c2d33;
        }

        .storefront-handheld-footer-bar ul li.cart .count {
            border-color: #2c2d33;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #484c51;
        }

        .widget h1 {
            border-bottom-color: #484c51;
        }

        body,
        .secondary-navigation a,
        .onsale,
        .pagination .page-numbers li .page-numbers:not(.current), .woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
            color: #43454b;
        }

        .widget-area .widget a,
        .hentry .entry-header .posted-on a,
        .hentry .entry-header .byline a {
            color: #75777d;
        }

        a  {
            color: #96588a;
        }

        a:focus,
        .button:focus,
        .button.alt:focus,
        .button.added_to_cart:focus,
        .button.wc-forward:focus,
        button:focus,
        input[type="button"]:focus,
        input[type="reset"]:focus,
        input[type="submit"]:focus {
            outline-color: #96588a;
        }

        button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget-area .widget a.button, .site-header-cart .widget_shopping_cart a.button {
            background-color: #96588a;
            border-color: #96588a;
            color: #ffffff;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget-area .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {
            /*background-color: #7d3f71;*/
            /*border-color: #7d3f71;*/
            /*color: #ffffff;*/
        }

        button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
            background-color: #2c2d33;
            border-color: #2c2d33;
            color: #ffffff;
        }

        button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover, .button.alt:hover, .added_to_cart.alt:hover, .widget-area .widget a.button.alt:hover, .added_to_cart:hover {
            background-color: #13141a;
            border-color: #13141a;
            color: #ffffff;
        }

        #comments .comment-list .comment-content .comment-text {
            background-color: #f8f8f8;
        }

        .site-footer {
            background-color: #f0f0f0;
            color: #61656b;
        }

        .site-footer a:not(.button) {
            color: #2c2d33;
        }

        .site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6 {
            color: #494c50;
        }

        #order_review,
        #payment .payment_methods li .payment_box {
            background-color: #ffffff;
        }

        #payment .payment_methods li {
            background-color: #fafafa;
        }

        #payment .payment_methods li:hover {
            background-color: #f5f5f5;
        }

        @media screen and ( min-width: 768px ) {
            .secondary-navigation ul.menu a:hover {
                color: #b3b9c0;
            }

            .secondary-navigation ul.menu a {
                color: #9aa0a7;
            }

            .site-header-cart .widget_shopping_cart,
            .main-navigation ul.menu ul.sub-menu,
            .main-navigation ul.nav-menu ul.children {
                background-color: #24252b;
            }
        }
    </style>
    <link rel="stylesheet" id="storefront-fonts-css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,900&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <link rel="stylesheet" id="evcal_cal_default-css" href="acg/css/eventon_styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="evo_font_icons-css" href="acg/css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="evo_el_styles-css" href="acg/css/el_styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="evo_fc_styles-css" href="acg/css/fc_styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="cpsh-shortcodes-css" href="acg/css/shortcodes.css?ver=0.6.6" type="text/css" media="all">
    <link rel="stylesheet" id="ms-main-css" href="acg/css/masterslider.main.css" type="text/css" media="all">
    <link rel="stylesheet" id="ms-custom-css" href="acg/css/custom.css" type="text/css" media="all">
    <script type="text/javascript" src="acg/js/jquery.js"></script>
    <script type="text/javascript" src="acg/js/jquery-migrate.min.js?ver=1.4.0"></script>
    <script type="text/javascript" src="acg/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="acg/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="acg/js/jquery.dcjqaccordion.2.9.js"></script>
    <script type="text/javascript" src="acg/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="acg/js/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="acg/js/youtube-video-player.jquery.min.js"></script>
    <script type="text/javascript" src="acg/js/plugin.js"></script>
    <script type="text/javascript" src="acg/js/md5.js"></script>
    <script type="text/javascript" src="acg/js/util.js"></script>
    <script type="text/javascript" src="http://www.acg.edu/wp-content/plugins/pc-google-analytics/assets/js/frontend.min.js?ver=1.0.0"></script>
    <link rel="https://api.w.org/" href="http://www.acg.edu/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.acg.edu/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.acg.edu/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.5.2">
    <link rel="canonical" href="http://www.acg.edu/">
    <link rel="shortlink" href="http://www.acg.edu/">
    <link rel="alternate" type="application/json+oembed" href="http://www.acg.edu/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.acg.edu%2F">
    <link rel="alternate" type="text/xml+oembed" href="http://www.acg.edu/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.acg.edu%2F&amp;format=xml">
    <style type="text/css">
    </style>
    <script>var $ = jQuery.noConflict();
        jQuery(document).ready(function () {

            jQuery('.hide').click(function () {
                '(show)' == $(this).text() ? $(this).text('(hide)')  : $(this).text('(show)'),
                        $(this).parent().next('.showHide').toggle('slow')
            }),
                    jQuery('.here').click(function () {
                        '(Click Here)' == $(this).text() ? $(this).text('(Hide)')  : $(this).text('(Click Here)'),
                                $(this).parent().next('.showHide').toggle('slow')
                    })
            jQuery(".tabAnchor").click(
                    function() {
                        $(".tab1").css("display",
                                "none"), $(".tab2").toggle(
                                "slow")
                    })
            jQuery(".tabAnchor2").click(
                    function() {
                        $(".tab2").css("display",
                                "none"), $(".tab1").toggle(
                                "slow")
                    })

            //Change the Course Schedules
            jQuery('.group').hide();
            jQuery('#option1').show();
            jQuery('#selectMe').change(function () {
                jQuery('.group').hide();
                jQuery('#'+jQuery(this).val()).show();
            })

            if ((document.location.pathname.indexOf("/current-students/student-services/student-life/") == 0) || (document.location.pathname.indexOf("/current-students/student-services/career-services/") == 0) || (document.location.pathname.indexOf("/current-students/registrar-academic-services/") == 0) || (document.location.pathname.indexOf("/current-students/financial-assistance/undergraduate-financial-assistance/") == 0) || (document.location.pathname.indexOf("/current-students/financial-assistance/graduate-financial-assistance/") == 0) || (document.location.pathname.indexOf("/current-students/financial-services/tuition-and-fees/tuition-fees-undergraduate-students/") == 0) ||(document.location.pathname.indexOf("/current-students/financial-services/tuition-and-fees/tuition-fees-graduate-students") == 0) ||(document.location.pathname.indexOf("/current-students/textbooks/") == 0) ||(document.location.pathname.indexOf("/current-students/outbound-study-abroad/") == 0) ||(document.location.pathname.indexOf("/admissions/undergraduate-admissions/greek-students/") == 0)) {
                // script body here
                var src = "http://www.acg.edu/wp-content/uploads/2016/06/dereelogo.png";
                jQuery(".custom-logo").attr("src", src);
                jQuery(".headerright").css("margin-top", "-120px");
            }

            $(document).on('click', '.mg_item_content .yesp-fullscreen', function() {
                jQuery('body').toggleClass('mejs-fullscreen');
            });

        });</script>
    <script>
        var lightbox_transition = 'elastic';
        var lightbox_speed = 800;
        var lightbox_fadeOut = 300;
        var lightbox_title = false;
        var lightbox_scalePhotos = true;
        var lightbox_scrolling = false;
        var lightbox_opacity = 0.201;
        var lightbox_open = false;
        var lightbox_returnFocus = true;
        var lightbox_trapFocus = true;
        var lightbox_fastIframe = true;
        var lightbox_preloading = true;
        var lightbox_overlayClose = true;
        var lightbox_escKey = false;
        var lightbox_arrowKey = false;
        var lightbox_loop = true;
        var lightbox_closeButton = true;
        var lightbox_previous = "previous";
        var lightbox_next = "next";
        var lightbox_close = "close";
        var lightbox_html = false;
        var lightbox_photo = false;
        var lightbox_width = '';
        var lightbox_height = '';
        var lightbox_innerWidth = 'false';
        var lightbox_innerHeight = 'false';
        var lightbox_initialWidth = '300';
        var lightbox_initialHeight = '100';

        var maxwidth=jQuery(window).width();
        if(maxwidth>768){maxwidth=768;}
        var lightbox_maxWidth = maxwidth;
        var lightbox_maxHeight = 500;

        var lightbox_slideshow = false;
        var lightbox_slideshowSpeed = 2500;
        var lightbox_slideshowAuto = true;
        var lightbox_slideshowStart = "start slideshow";
        var lightbox_slideshowStop = "stop slideshow";
        var lightbox_fixed = true;


        var lightbox_top = false;
        var lightbox_bottom = false;
        var lightbox_left = false;
        var lightbox_right = false;

        var lightbox_reposition = false;
        var lightbox_retinaImage = true;
        var lightbox_retinaUrl = false;
        var lightbox_retinaSuffix = "@2x.$1";
        jQuery(window).load(function(){
            var title;
            jQuery('a.cboxElement').click(function(){
                if(jQuery(this).find('img').attr('alt'))
                    title = jQuery(this).find('img').attr('alt');
                else
                    title='';
                setTimeout(function(){
                    jQuery('#cboxContent #cboxTitle').text(title);
                },1000);
            });
            jQuery('#cboxNext,#cboxPrevious').click(function(){
                setTimeout(function(){
                    var src = jQuery('img.cboxPhoto').attr('src');
                    jQuery('a.cboxElement').each(function(){
                        if(src == jQuery(this).attr('href')){
                            title = jQuery(this).find('img').attr('alt');
                            jQuery('#cboxContent #cboxTitle').text(title);
                        }
                    });
                },1000);
            });
            $('body').on('click','#cboxLoadedContent img',function(){
                setTimeout(function(){
                    var src = jQuery('img.cboxPhoto').attr('src');
                    jQuery('a.cboxElement').each(function(){
                        if(src == jQuery(this).attr('href')){
                            title = jQuery(this).find('img').attr('alt');
                            jQuery('#cboxContent #cboxTitle').text(title);
                        }
                    });
                },1000);
            });
        });
    </script>
    <script>var ms_grabbing_curosr='http://www.acg.edu/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='http://www.acg.edu/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
    <meta name="generator" content="MasterSlider 2.29.0 - Responsive Touch Image Slider">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-7722291-1', 'auto');
        ga('send', 'pageview');

    </script>
    <link rel="shortcut icon" href="http://www.acg.edu/wp-content/uploads/2016/05/Deree_Transparent-48x48.png"><script>window.fbAsyncInit = function() {
            FB.init({
                appId      : '1737178703188785',
                xfbml      : true,
                version    : 'v2.6'
            });
        };</script><script>(function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appID=1737178703188785";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script><style type="text/css">	.ssba {




        }
        .ssba img
        {
            width: 35px !important;
            padding: 6px;
            border:  0;
            box-shadow: none !important;
            display: inline !important;
            vertical-align: middle;
        }
        .ssba, .ssba a
        {
            text-decoration:none;
            border:0;
            background: none;
            font-family: Indie Flower;
            font-size: 	20px;

            font-weight: bold;
        }
        .fb_iframe_widget span { width: 146px !important; }</style>

    <!-- EventON Version -->
    <meta name="generator" content="EventON 2.4.3">

    <style type="text/css" media="all" id="siteorigin-panels-grids-wp_head">/* Layout 6 */ #pgc-6-0-0 , #pgc-6-0-1 , #pgc-6-0-2 , #pgc-6-0-3 , #pgc-6-1-0 , #pgc-6-1-1 , #pgc-6-1-2 , #pgc-6-1-3 { width:25% } #pg-6-0 , #pl-6 .panel-grid-cell .so-panel { margin-bottom:30px } #pg-6-0 .panel-grid-cell , #pg-6-1 .panel-grid-cell { float:left } #pl-6 .panel-grid-cell .so-panel:last-child { margin-bottom:0px } #pg-6-0 , #pg-6-1 { margin-left:-15px;margin-right:-15px } #pg-6-0 .panel-grid-cell , #pg-6-1 .panel-grid-cell { padding-left:15px;padding-right:15px } @media (max-width:780px){ #pg-6-0 .panel-grid-cell , #pg-6-1 .panel-grid-cell { float:none;width:auto } #pgc-6-0-0 , #pgc-6-0-1 , #pgc-6-0-2 , #pgc-6-1-0 , #pgc-6-1-1 , #pgc-6-1-2 { margin-bottom:30px } #pl-6 .panel-grid , #pl-6 .panel-grid-cell {  }  } </style><script type="text javascript">
// Conversion Name: Deree_Homepage
var ebRand = Math.random()+'';
ebRand = ebRand * 1000000;
//<![CDATA[
document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&ActivityID=723481&rnd=' + ebRand + '"></scr' + 'ipt>');
//]]>
</script>
    <noscript>
        &lt;img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=723481&amp;ns=1"/&gt;
    </noscript><!-- Dojo Digital Hide Title -->
    <script type="text/javascript">
        jQuery(document).ready(function($){

            if( $('.entry-title').length != 0 ) {
                $('.entry-title span.dojodigital_toggle_title').parents('.entry-title:first').hide();
            } else {
                $('h1 span.dojodigital_toggle_title').parents('h1:first').hide();
                $('h2 span.dojodigital_toggle_title').parents('h2:first').hide();
            }

        });
    </script>
    <noscript>&lt;style type="text/css"&gt; .entry-title { display:none !important; }&lt;/style&gt;</noscript>
    <!-- END Dojo Digital Hide Title -->

    <link rel="stylesheet" href="http://www.acg.edu/wp-content/plugins/media-grid/js/mediaelement/mediaelementplayer.min.css" type="text/css" media="all"><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
        .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
        .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style>

    <meta charset='utf-8' />
    <link href='fc/fullcalendar.css' rel='stylesheet' />
    <link href='fc/fullcalendar.print.css' rel='stylesheet' media='print' />
    {#<script src='fc/jquery.js'></script>#}
    {#<script src='fc/moment.min.js'></script>#}
    <script>jQuery.noConflict();</script>
    {#<script src='fc/fullcalendar.js'></script>#}

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

    {#<link href='fc/jquery-ui.theme.min.css' rel='stylesheet' />#}
    <script>
        jQuery.noConflict();
        jQuery(document).ready(function() {
            jQuery('#calendar').fullCalendar({
                defaultDate: '2016-06-12',
                editable: true,
                theme: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-06-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2016-06-07',
                        end: '2016-06-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-06-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-06-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2016-06-11',
                        end: '2016-06-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-06-12T10:30:00',
                        end: '2016-06-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2016-06-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-06-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2016-06-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2016-06-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2016-06-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2016-06-28'
                    }
                ]
            });

        });
    </script>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>