{% extends "master.twig" %}

{% block title %} Log-in {% endblock title %}

{% block content %}

<center>
    <div style="background-color: #a1a4a7; border-radius: 25px; display: inline-block; height: 450px; padding: 50px; margin-bottom: 20px;">
    <form action="/admin/login" method="post">
        <h1>Login Form</h1>
        <div>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" style="margin: 3px; width: 600px; height: 60px; background-color: #333367;" />
        </div>
        <div>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" style="margin: 3px; width: 600px; height: 60px; background-color: #333367;" />
        </div>

        <br>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6Lel3ggUAAAAACe8sMXOV_MnXbweMri152EYYkcj"></div>
        <br>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="border-radius: 25px; width: 200px; height: 60px;">Login</button>
            <a href="#" style="font-weight: bold;">Lost your password?</a>
        </div>

        <div class="clearfix"></div>
    </form>

    </div>
</center>

{% endblock content %}

{% block info %}
    {{ include('info.twig') }}
{% endblock info %}