<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" itemscope="itemscope" itemtype="http://schema.org/WebPage" class="">

<head>

    {{ include('head.twig') }}


    {#<!-- Bootstrap -->#}
    {#<link href="master/css/bootstrap.min.css" rel="stylesheet">#}
    {#<!-- Font Awesome -->#}
    {#<link href="master/css/font-awesome.min.css" rel="stylesheet">#}
    {#<link href="css/font-awesome.min.css" rel="stylesheet">#}
    {#<!-- NProgress -->#}
    {#<link href="master/css/nprogress.css" rel="stylesheet">#}
    {#<!-- iCheck -->#}
    {#<link href="master/css/green.css" rel="stylesheet">#}
    {#<!-- bootstrap-progressbar -->#}
    {#<link href="master/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">#}
    {#<!-- JQVMap -->#}
    {#<link href="master/css/jqvmap.min.css" rel="stylesheet"/>#}
    {#<!-- bootstrap-daterangepicker -->#}
    {#<link href="master/css/daterangepicker.css" rel="stylesheet">#}

    <!-- Custom Theme Style -->
    {#<link href="master/css/custom.min.css" rel="stylesheet">#}
    {% block head %}
    {% endblock %}

        <title> {% block title %}{% endblock %} </title>


    <style>
        body{
            color: white;
        }
    </style>
</head>


<body class="home page page-id-6 page-template page-template-template-homepage page-template-template-homepage-php wp-custom-logo _masterslider _msp_version_2.29.0 siteorigin-panels siteorigin-panels-home fully-background group-blog no-wc-breadcrumb storefront-full-width-content right-sidebar page-home yesp-youtube-iframe-ready mg_new_loader">
<!-- Google Tag Manager -->

    {% block nav %}
        {{ include('nav.twig') }}
        {#{{ include('nav2.twig') }}#}
    {% endblock nav %}

    <div style="padding: 2%;">
        {% block content %}
        {% endblock content %}
    </div>


    {% block info %}
    {% endblock info %}


{% block footer %}
{% endblock %}

{#<script type="text/javascript" src="acg/js/overlays.js"></script>#}
{#<script type="text/javascript" src="acg/js/frontend.js"></script>#}
{#<script type="text/javascript" src="http://w.sharethis.com/button/st_insights.js"></script>#}
{#<script type="text/javascript" src="acg/js/ssba.min.js"></script>#}
{#<script type="text/javascript" src="acg/js/navigation.min.js"></script>#}
{#<script type="text/javascript" src="acg/js/wp-embed.min.js"></script>#}
{#<script type="text/javascript" src="acg/js/lightbox-frontend/custom.js"></script>#}
{#<script type="text/javascript" src="acg/js/jquery.colorbox.js"></script>#}
{#<script type="text/javascript" src="acg/js/jquery.easing.min.js"></script>#}
{#<script type="text/javascript" src="acg/js/masterslider.min.js"></script>#}
{#<script type="text/javascript" src="acg/js/jquery.mobile.min.js"></script>#}




{#<!-- jQuery -->#}
{#<script src="master/js/jquery.min.js"></script>#}
{#<!-- Bootstrap -->#}
{#<script src="master/js/bootstrap.min.js"></script>#}
{#<!-- FastClick -->#}
{#<script src="master/js/fastclick.js"></script>#}
{#<!-- NProgress -->#}
{#<script src="master/js/nprogress.js"></script>#}
{#<!-- Chart.js -->#}
{#<script src="master/js/Chart.min.js"></script>#}
{#<!-- gauge.js -->#}
{#<script src="master/js/gauge.min.js"></script>#}
{#<!-- bootstrap-progressbar -->#}
{#<script src="master/js/bootstrap-progressbar.min.js"></script>#}
{#<!-- iCheck -->#}
{#<script src="master/js/icheck.min.js"></script>#}
{#<!-- Skycons -->#}
{#<script src="master/js/skycons.js"></script>#}
{#<!-- Flot -->#}
{#<script src="master/js/jquery.flot.js"></script>#}
{#<script src="master/js/jquery.flot.pie.js"></script>#}
{#<script src="master/js/jquery.flot.time.js"></script>#}
{#<script src="master/js/jquery.flot.stack.js"></script>#}
{#<script src="master/js/jquery.flot.resize.js"></script>#}
{#<!-- Flot plugins -->#}
{#<script src="master/js/jquery.flot.orderBars.js"></script>#}
{#<script src="master/js/jquery.flot.spline.min.js"></script>#}
{#<script src="master/js/curvedLines.js"></script>#}
{#<!-- DateJS -->#}
{#<script src="master/js/date.js"></script>#}
{#<!-- JQVMap -->#}
{#<script src="master/js/jquery.vmap.js"></script>#}
{#<script src="master/js/jquery.vmap.world.js"></script>#}
{#<script src="master/js/jquery.vmap.sampledata.js"></script>#}
{#<!-- bootstrap-daterangepicker -->#}
{#<script src="master/js/moment.min.js"></script>#}
{#<script src="master/js/daterangepicker.js"></script>#}

{#<!-- Custom Theme Scripts -->#}
{#<script src="master/js/custom.min.js"></script>#}


</body>
</html>