
<header id="masthead" class="site-header" role="banner" style="background-image: url(); ">
    <div class="col-full">

        <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <a href="http://www.acg.edu/" class="custom-logo-link" rel="home" itemprop="url"><img width="245" height="110" src="http://www.acg.edu/wp-content/uploads/2016/05/logo.png" class="custom-logo" alt="logo" itemprop="logo"></a>		<nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
            <div class="menu-top-menu-container"><ul id="menu-top-menu" class="menu">

                    <li id="menu-item-291" class="top-general menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-291">
                        <i class="fa fa-home" style="margin-right: 4px;"></i>
                        <a href="/">home</a>
                    </li>


                    <li id="menu-item-15534" class="top-general menu-item menu-item-type-custom menu-item-object-custom menu-item-15534"><i class="fa fa-list-alt" style="margin-right: 4px;"></i>
                        <a href="/fitnessProgram">Fitness Program</a></li>


                    <li id="menu-item-15534"
                        class="top-general menu-item menu-item-type-custom menu-item-object-custom menu-item-15534">
                        <i class="fa fa-plus-square" style="margin-right: 4px;"></i>
                        <a href="/register">Register Class</a>
                    </li>

                    {% if session.user is defined %}

                        <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a href="/logout">Logout</a>
                            <i class="fa fa-sign-out"></i>
                        </li>

                        {% else %}

                            <li id="menu-item-600" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a href="/login" style="display: inline-block;">Log-in</a>

                                <i class="fa fa-sign-in"></i>
                            </li>

                    {% endif %}

                </ul></div>		</nav><!-- #site-navigation --><div class="headerright">
            <div>
                <form role="search" method="get" class="search-form" action="http://www.acg.edu/">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                    </label>
                        <input type="submit" class="search-submit" value="Search">

                </form>
            </div>
            <div>
                <div class="menu-top-virtual-quick-n-more-container">
                    <ul id="menu-top-virtual-quick-n-more" class="menu">

                        <li id="menu-item-606" class="header-quick menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-606">
                            <a href="http://www.acg.edu/#">Logs</a>
                            <ul class="sub-menu">
                                <li id="menu-item-12722"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12722">
                                    <a target="_blank" href="/realtimelogs">Friends There Now!</a>
                                </li>
                                <li id="menu-item-12722"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12722">
                                    <a target="_blank" href="/realtimelogs">Real Time</a>
                                </li>
                                <li id="menu-item-12722"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12722">
                                    <a target="_blank" href="/logs">History Logs</a>
                                </li>

                            </ul>

                        </li>

                        {% if session.user.admin == 1 %}
                        <li id="menu-item-606" class="header-quick menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-606"><a href="http://www.acg.edu/#">Statistics</a>
                            <ul class="sub-menu">
                                <li id="menu-item-12722"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12722">
                                    <a target="_blank" href="/adminstatsmonth">Visitation Dates</a>
                                </li>

                                <li id="menu-item-12722"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12722">
                                    <a target="_blank" href="/adminstatsuser">User Characteristics</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        <li id="menu-item-604" class="header-giving menu-item menu-item-type-post_type menu-item-object-page menu-item-604"><a href="http://www.acg.edu/why-give/">Giving</a></li>
                        <li id="menu-item-605" class="header-alumni menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a href="http://www.acg.edu/alumni/">Alumni</a></li>
                    </ul></div></div>					</div>
        <section class="storefront-primary-navigation">		<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Navigation">
                <button class="menu-toggle" aria-controls="primary-navigation" aria-expanded="false"><span>Menu</span></button>

                {% if session.user.admin == 1 %}
                <div class="primary-navigation">
                    <ul id="menu-main-menu" class="menu nav-menu" aria-expanded="false">
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Gym Statistics</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="/adminstatsmonth">Visitation</a>
                                </li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="/adminstatsuser">User Characteristics</a>
                                </li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="/adminstatsuser">Class Registrations</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Gym Logs</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/logs">User Logs</a>
                                </li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                                    <a href="/realtimelogs">Real-Time Logs</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Personal Programs</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/logs">Form</a>
                                </li>
                                <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                                    <a href="/realtimelogs">Statistics</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Users</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/editusers">Edit Users</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/logs">View Statistics</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Classes</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/editschedule">Edit Classes</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/registrations">Registrations</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/fitnessProgram">View Fitness Program</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Instructors</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/logs">Edit Instructors</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/logs">View Statistics</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a>Certificates</a>
                            <ul class="sub-menu">
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/nurse-pending">Pending</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/nurse-approved">Approved</a>
                                </li>
                                <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                                    <a href="/nurse-rejected">Rejected</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}

            </nav><!-- #site-navigation -->
        </section>
    </div>
</header><!-- #masthead -->
