{% extends 'master.twig' %}

{% block head %}
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}


{% block content %}

    <form action="/submitProgram" method="post" class="form-horizontal">
        <h3>Personal Details</h3>
        <div class="control-group">
            <label class="control-label" for="height">Height (in cm)</label>
            <div class="controls">
                <input type="number" id="height" name="height" placeholder="Your height.." max="250">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="weight">Weight (in kg)</label>
            <div class="controls">
                <input type="number" id="weight" name="weight" placeholder="Your weight.." max="300">
            </div>
        </div>
        <h3>Fitness History</h3>
        <div class="control-group">
            <label for="pastExercise" class="control-label">Have you been involved with any sort of exercise in the past?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="pastExercise" id="optionsRadios1" value="1">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="pastExercise" id="optionsRadios1" value="0" checked>
                    No
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="currentlyExercising" class="control-label">Are you currently exercising?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="currentlyExercising" id="optionsRadios1" value="1">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="currentlyExercising" id="optionsRadios1" value="0" checked>
                    No
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="currentExercisingIntensity" class="control-label">If yes, how intense?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" id="optionsRadios1" value="0" checked>
                    Light (1x/week)
                </label>
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" id="optionsRadios1" value="1">
                    Moderate (2-3x/week)
                </label>
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" value="2">
                    Heavy (5-6x/week)
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="activities">What activities are you involved in?</label>
            <div class="controls">
                <textarea id="activities" name="activities" placeholder="ex: cardio, sports, etc." rows="3" maxlength="100"></textarea>
            </div>
        </div>
        <h3>Exercise Goals</h3>
        <div class="control-group">
            <label class="control-label">Which days would you like to exercise?</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="monday" value=1>
                    Monday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="tuesday" value=1>
                    Tuesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="wednesday" value=1>
                    Wednesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="thursday" value=1>
                    Thursday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="friday" value=1>
                    Friday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="saturday" value=1>
                    Saturday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="sunday" value=1>
                    Sunday
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="comments">Comments for the fitness trainer:</label>
            <div class="controls">
                <textarea id="comments" name="comments" placeholder="ex: health issues, etc." rows="3" maxlength="150"></textarea>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Submit Request</button>
            </div>
        </div>
    </form>









{% endblock content %}